<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>

<body>

    <div class="container"> <!-- Wrapper for form -->

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <h2 class="word">Login</h2>
        <!-- templates/login.html -->
        <form method="POST" action="/login">

            <label for="username">Username</label>
            <input class="textbox" type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input class="textbox" type="password" id="password" name="password" required />

            <button class="btn" type="submit">Log in</button>
        </form>

    </div>

</body>

</html>